[project]
	description = Manifest to sync AndroidOpenDevelopment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AOD Gerrit Code Review (AOD-gerrit)
[access "refs/for/refs/*"]
	read = group user/AOD Gerrit Code Review (AOD-gerrit)
	push = group user/AOD Gerrit Code Review (AOD-gerrit)
	label-Code-Review = -2..+2 group user/AOD Gerrit Code Review (AOD-gerrit)
	label-Verified = -1..+1 group user/AOD Gerrit Code Review (AOD-gerrit)
	rebase = group user/AOD Gerrit Code Review (AOD-gerrit)
	removeReviewer = group user/AOD Gerrit Code Review (AOD-gerrit)
	submit = group user/AOD Gerrit Code Review (AOD-gerrit)
[access "refs/heads/*"]
	read = group user/AOD Gerrit Code Review (AOD-gerrit)
	create = group user/AOD Gerrit Code Review (AOD-gerrit)
	push = +force group user/AOD Gerrit Code Review (AOD-gerrit)
	pushMerge = group user/AOD Gerrit Code Review (AOD-gerrit)
[access "refs/tags/*"]
	push = +force group user/AOD Gerrit Code Review (AOD-gerrit)
	pushTag = group user/AOD Gerrit Code Review (AOD-gerrit)
	pushSignedTag = group user/AOD Gerrit Code Review (AOD-gerrit)
